body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.nav-icon{
    width: 25px;
    margin-right: 30px;
}

.nav-text{
    margin-right: 60px;
}
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
.menu{
  background-color: black;
  /* background-image: 10px; */
  padding: 13.5px;
  position: absolute;
  left: -1px;
height: 56px;
}
.hamburger{
    width: 30px;
}

.side-border{
    width: 57px;
    height: 100vh;
    position: relative;
}
.login-part{
    width: 100%;
   
}
.sign-icons img {
    width: 40px;
    margin: 15px;
}

.btn-login{
   background-color: #30373E;
   color: aliceblue;
   /* font-size: 60px; */
}  
@media screen and (max-width: 418px) {
    .side-border {
        display: none;
    }
}




/* .input-group{
    position: relative;
}
.input-group__input{
    font: inherit;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline:2px solid #fff;
    background-color: transparent;

}

.input-group__input:is(:focus,:valid){
    outline-color:#3c50eb ;
}

.input-group__label{
    position: absolute;
    top: -10px;
    left: 0;
    translate: 10px 10px;
    color: #fff;
    transition: translate 500ms, scale 500ms;
}
.input-group__input:focus + .input-group__label,.input-group__input:valid + .input-group__label{
    padding-inline: 5px;
    translate: 10px -14px;
    scale:0.8;
    background-color: #000;
} */